<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NevaEntities" connectionString="metadata=res://*/assets.models.MainModel.csdl|res://*/assets.models.MainModel.ssdl|res://*/assets.models.MainModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=201-04\SQLEXPRESS;initial catalog=Neva;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BigBoarsEntities" connectionString="metadata=res://*/assets.models.MainModel.csdl|res://*/assets.models.MainModel.ssdl|res://*/assets.models.MainModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-QLMK9N;initial catalog=BigBoars;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>