<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="HelixDBEntities" connectionString="YOUR_CONNECTION_STRING_HERE" providerName="System.Data.EntityClient" />
		<add name="HelixDB" connectionString="YOUR_CONNECTION_STRING_HERE" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>