<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="HelixDBEntities"
			 connectionString="metadata=res://*/assets.models.MainModel.csdl|res://*/assets.models.MainModel.ssdl|res://*/assets.models.MainModel.msl;
                         provider=System.Data.SqlClient;
                         provider connection string='Data Source=185.95.159.226,1433;Initial Catalog=HelixDB;User ID=helix_user;Password=sBwK59vhaBBSvv9qznRRcMy5;Encrypt=True;TrustServerCertificate=True;Network Library=dbmssocn;MultipleActiveResultSets=True'"
			 providerName="System.Data.EntityClient" />
		<add name="HelixDB"
	         connectionString="Data Source=185.95.159.226,1433;
                         Initial Catalog=HelixDB;
                         User ID=helix_user;
                         Password=sBwK59vhaBBSvv9qznRRcMy5;
                         Encrypt=True;
                         TrustServerCertificate=True;
                         Network Library=dbmssocn;
                         MultipleActiveResultSets=True;"
	         providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>